#!/bin/bash

docker-compose -f ~/openvpn/docker-compose.yml run --rm openvpn ovpn_genconfig -e 'topology subnet' -u udp://{{ hostname }} -2
docker-compose -f ~/openvpn/docker-compose.yml run --rm openvpn ovpn_initpki
