deb http://security.debian.org/ {{ ansible_facts['distribution_release'] }}/updates main contrib non-free
deb-src http://security.debian.org/ {{ ansible_facts['distribution_release'] }}/updates main contrib non-free
