all:
  hosts:
    127.0.0.1:
      hostname:   #hostname
  vars:
    ansible_user: #user
    ansible_port: #ssh_port
    admin_email:  #admin_email
    # Use the following line to force using python 3
    # ansible_python_interpreter: /usr/bin/python3 
