version: "3.8"

services:
    nextcloud:
        build: ./nextcloud
        container_name: nextcloud
        restart: always
        volumes:
            - {{ nextcloud_volume }}/nextcloud:/var/www/html
        environment:
            MYSQL_HOST: db
            MYSQL_DATABASE: nextcloud
            MYSQL_USER: nextcloud_user
            MYSQL_PASSWORD: "{{ nextcloud_db_password }}"
            SMTP_HOST: smtp
            MAIL_DOMAIN: "{{ hostname }}"
            MAIL_FROM_ADDRESS: nextcloud
            NEXTCLOUD_ADMIN_USER: "{{ ansible_user }}"
            NEXTCLOUD_ADMIN_PASSWORD: "{{ nextcloud_admin_password }}"
            NEXTCLOUD_TRUSTED_DOMAINS: "{{ hostname }} www.{{ hostname }}"
            TRUSTED_PROXIES: 172.18.0.0/16
            APACHE_DISABLE_REWRITE_IP: 1
            OVERWRITEPROTOCOL: https
        depends_on:
            - db
            - smtp
    db:
        image: mariadb
        container_name: nextcloud-db
        command: --transaction-isolation=READ-COMMITTED --log-bin=mysqld-bin --binlog-format=ROW
        restart: always
        volumes:
            - {{ nextcloud_volume }}/db:/var/lib/mysql
        environment:
            MYSQL_ROOT_PASSWORD: "{{ nextcloud_db_root_password }}"
            MYSQL_DATABASE: nextcloud
            MYSQL_USER: nextcloud_user
            MYSQL_PASSWORD: "{{ nextcloud_db_password }}"
    smtp:
        image: namshi/smtp
        container_name: nextcloud-smtp
        restart: always
    web:
        build: ./web
        container_name: nextcloud-web
        restart: always
        volumes:
            - {{ nextcloud_volume }}/nextcloud:/var/www/html:ro
        environment:
            VIRTUAL_HOST: "{{ hostname }},www.{{ hostname }}"
            LETSENCRYPT_HOST: "{{ hostname }},www.{{ hostname }}"
            LETSENCRYPT_EMAIL: "{{ admin_email }}"
        depends_on:
            - nextcloud
        networks:
            - default
            - proxy

networks:
    proxy:
        external:
            name: nginx-proxy
