services:
    cadvisor:
        image: gcr.io/cadvisor/cadvisor
        restart: unless-stopped
        volumes:
            - /:/rootfs:ro
            - /var/run:/var/run:ro
            - /sys:/sys:ro
            - /var/lib/docker/:/var/lib/docker:ro
            - /dev/disk/:/dev/disk:ro
        expose:
            - 8080
        depends_on:
            - loki
    node_exporter:
        image: prom/node-exporter
        restart: unless-stopped
        volumes:
            - /proc:/host/proc:ro
            - /sys:/host/sys:ro
            - /:/rootfs:ro
        command:
            - '--path.procfs=/host/proc'
            - '--path.rootfs=/rootfs'
            - '--path.sysfs=/host/sys'
            - '--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)'
        expose:
            - 9100
        depends_on:
            - loki
    prometheus:
        image: prom/prometheus
        restart: unless-stopped
        volumes:
            - ./prometheus/:/etc/prometheus/
            - prometheus-data:/prometheus
        command:
            - '--config.file=/etc/prometheus/prometheus.yml'
            - '--storage.tsdb.path=/prometheus'
            - '--web.console.libraries=/etc/prometheus/console_libraries'
            - '--web.console.templates=/etc/prometheus/consoles'
            - '--storage.tsdb.retention.time=200h'
        expose:
            - 9090
        depends_on:
            - loki
    grafana:
        image: grafana/grafana
        restart: unless-stopped
        volumes:
            - grafana-data:/var/lib/grafana
            - ./grafana/provisioning/:/etc/grafana/provisioning/
            - ./grafana/provisioning/dashboards/json/:/var/lib/grafana/dashboards/
        expose:
            - {{ grafana_port }}
        environment:
            - GF_SMTP_ENABLED=true
            - GF_SMTP_HOST=smtp:25
            - GF_SMTP_FROM_ADDRESS=grafana@{{ hostname }}
            - GF_SECURITY_ADMIN_EMAIL={{ admin_email }}
            - GF_DASHBOARDS_DEFAULT_HOME_DASHBOARD_PATH=/var/lib/grafana/dashboards/docker_monitoring.json
            - GF_SERVER_ROOT_URL=https://{{ grafana_subdomain }}.{{ hostname }}
        networks:
            - default
            - proxy
        depends_on:
            - loki
    loki:
        image: grafana/loki:{{ loki_version }}
        restart: unless-stopped
        volumes:
            - ./loki/:/mnt/config/
        command: -config.file=/mnt/config/loki-config.yaml -log.level=warn
        expose:
            - 3100
        networks:
            default:
                ipv4_address: {{ loki_container_ipv4 }}
    promtail:
        image: grafana/promtail:{{ loki_version }}
        restart: unless-stopped
        volumes:
            - ./promtail/:/mnt/config/
            - /var/log:/var/log
            - /run/log/journal/:/run/log/journal/
            - /etc/machine-id:/etc/machine-id
        command: -config.file=/mnt/config/promtail-config.yaml -log.level=warn
        depends_on:
            - loki
    smtp:
        image: namshi/smtp
        restart: unless-stopped
{% if enable_dkim is defined and enable_dkim == true %}
        volumes:
{% if hubbed_hosts_file.stat.exists %}
            - ./smtp/hubbed_hosts:/etc/exim4/hubbed_hosts
{% endif %}
            - ./smtp/dkim-config:/etc/exim4/_docker_additional_macros:ro
            - ./smtp/{{ grafana_subdomain }}.private:/etc/exim4/domain.key:ro
        environment:
            - MAILNAME={{ hostname }}
{% endif %}
        depends_on:
            - loki

volumes:
    prometheus-data:
    grafana-data:

networks:
    default:
        name: monitoring
        external: true
    proxy:
        name: caddy-proxy
        external: true
