version: "3"
services:
    cadvisor:
        image: google/cadvisor
        restart: always
        volumes:
            - /:/rootfs:ro
            - /var/run:/var/run:rw
            - /sys:/sys:ro
            - /var/lib/docker/:/var/lib/docker:ro
        expose:
            - 8080
        depends_on:
            - loki
    prometheus:
        image: prom/prometheus
        restart: always
        volumes:
            - ./prometheus/:/etc/prometheus/
            - prometheus-data:/prometheus
        command:
            - '--config.file=/etc/prometheus/prometheus.yml'
            - '--storage.tsdb.path=/prometheus'
            - '--web.console.libraries=/etc/prometheus/console_libraries'
            - '--web.console.templates=/etc/prometheus/consoles'
            - '--storage.tsdb.retention=200h'
        expose:
            - 9090
        depends_on:
            - loki
    grafana:
        image: grafana/grafana
        restart: always
        volumes:
            - grafana-data:/var/lib/grafana
            - ./grafana/provisioning/:/etc/grafana/provisioning/
            - ./grafana/provisioning/dashboards/json/:/var/lib/grafana/dashboards/
        expose:
            - 3000
        environment:
            - VIRTUAL_HOST={{ grafana_subdomain }}.{{ hostname }}
            - VIRTUAL_PORT={{ grafana_port }}
            - LETSENCRYPT_HOST={{ grafana_subdomain }}.{{ hostname }}
            - LETSENCRYPT_EMAIL={{ admin_email }}
            - GF_SMTP_ENABLED=true
            - GF_SMTP_HOST=smtp:25
            - GF_SMTP_FROM_ADDRESS=grafana@{{ hostname }}
        networks:
            - default
            - proxy
        depends_on:
            - loki
    loki:
        image: grafana/loki:1.4.1
        restart: always
        command: -config.file=/etc/loki/local-config.yaml -log.level=warn
        expose:
            - 3100
        networks:
            default:
                ipv4_address: {{ loki_container_ipv4 }}
    promtail:
        image: grafana/promtail:1.4.1
        restart: always
        volumes:
            - /var/log:/var/log
        command: -config.file=/etc/promtail/docker-config.yaml
        depends_on:
            - loki
    smtp:
        image: namshi/smtp
        restart: always
{% if enable_dkim is defined and enable_dkim == true %}
        volumes:
            - ./smtp/hubbed_hosts:/etc/exim4/hubbed_hosts
            - ./smtp/dkim-config:/etc/exim4/_docker_additional_macros:ro
            - ./smtp/dkim_private.key:/etc/exim4/domain.key:ro
        environment:
            - MAILNAME={{ hostname }}
{% endif %}
        depends_on:
            - loki

volumes:
    prometheus-data:
    grafana-data:

networks:
    default:
        external:
            name: monitoring
    proxy:
        external:
            name: nginx-proxy
