notifiers:
    - name: Admin email
      type: email
      uid: admin-email
      # either
      # org_id: 2
      # or
      # org_name: Main Org.
      is_default: true
      send_reminder: true
      frequency: 15m
      disable_resolve_message: false
      # See `Supported Settings` section for settings supporter for each
      # alert notification type.
      settings:
        singleEmail: false
        addresses : "{{ admin_email }}"
        uploadImage: true
